* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Handjet", cursive;
  font-family: "Press Start 2P", cursive;
}

P {
  font-family: "Handjet";
}

@mixin container {
  width: 1440px;
  padding: 0 40px;
}
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin btn {
  padding: 10px 6px;
  color: aliceblue;
  background-color: black;
  border-radius: 20px;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;
  transition: 0.3s all;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  &:hover {
    border: 1px solid rgb(255, 255, 255);
  }
}
@keyframes DropAnime {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  background: linear-gradient(
    90deg,
    rgba(195, 0, 255, 1) 0%,
    rgba(0, 90, 225, 1) 100%
  );
}

#NavBar {
  background-color: rgb(0, 0, 0);
  width: 100%;
  @include flexCenter();
  padding: 10px 0;
  background: linear-gradient(
    90deg,
    rgba(195, 0, 255, 1) 0%,
    rgba(0, 90, 225, 1) 100%
  );
  .Box {
    @include container();
    display: flex;
    align-items: center;
    justify-content: space-between;
    > a {
      text-decoration: none;
      .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        > .LogoImg {
          height: 40px;
          object-fit: contain;
        }
        > h4 {
          color: white;
        }
        > p {
          color: white;
          > span {
            color: white;
          }
        }
      }
    }
    input {
      outline: none;
      border: transparent;
      border-radius: 20px;
      padding: 10px 16px;
      font-size: 14px;
      width: 960px;
      border: 2px solid transparent;
      transition: 0.3s;
      &:hover {
        box-shadow: rgba(180, 219, 235, 0.945) 0px 0px 8px 0px;
      }
      &:focus {
        box-shadow: rgba(180, 219, 235, 0.945) 0px 0px 8px 0px,
          rgb(255, 255, 255) 0px 0px 5px 0px;
        border: 2px solid rgb(255, 255, 255);
      }
    }
    .CartBox {
      position: relative;
      .Cart {
        height: 40px;
        object-fit: contain;
        cursor: pointer;
      }
      > p {
        position: absolute;
        color: #ffffff;
        right: 0;
        top: 0;
        font-size: 20px;
        font-weight: 900;
        cursor: pointer;
        transform: translate(3px, -8px);
      }
    }
  }
}
#Main {
  @include flexCenter();
  background: linear-gradient(
    90deg,
    rgba(195, 0, 255, 1) 0%,
    rgba(0, 90, 225, 1) 100%
  );
  .Box {
    position: relative;
    @include container();
    padding-top: 60px;
    padding-bottom: 60px;
    .Cards {
      @include flexCenter();
      flex-wrap: wrap;
      row-gap: 40px;
      column-gap: 40px;

      .card {
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
          rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        color: aliceblue;
        padding: 10px 5px;
        display: flex;
        flex-direction: column;
        width: 426px;
        > img {
          width: 426px;
        }
        .Bottom {
          margin-top: 12px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          .Text {
            h4 {
              font-size: 20px;
            }
            p {
              margin-top: 10px;
              font-size: 24px;
            }
          }
          .CartBTN {
            @include btn();
          }
        }
      }
    }
    .DropDown {
      overflow: auto;
      display: none;
      flex-direction: column;
      position: absolute;
      background-color: black;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      padding: 15px 20px;
      height: 600px;
      width: 400px;
      right: 0;
      top: 0;
      border-radius: 20px;
      animation-name: DropAnime;
      animation-duration: 0.5s;
      &::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: transparent;
      }

      &::-webkit-scrollbar {
        border-radius: 20px;
        width: 12px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: #ffffff80;
      }
      .MiniCard {
        display: flex;
        padding: 10px 0px;
        border-bottom: 2px solid rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        justify-content: space-between;

        .left {
          display: flex;
          background-color: rgb(255, 255, 255);
          box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
            rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
          padding-right: 20px;
          .MiniHP {
            height: 100px;
            object-fit: contain;
          }
          .MiniText {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: black;
            > p {
              margin-top: 4px;
            }
          }
        }
        .BuySec {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: white;
          .AddRemove {
            margin-top: 10px;
            display: flex;
            button {
              border: transparent;
              cursor: pointer;
              pad: 2px 10px;
              width: 20px;
              background-color: #ffffff;
              border: 1px solid #949494;
            }
            p {
              border: 1px solid #949494;
              background-color: #ffffff;
              width: 40px;
              color: black;
              text-align: center;
            }
          }
          #Buy {
            margin-bottom: 10px;
            @include btn();
            padding: 2px 5px;
            background-color: white;
            color: black;
            border-radius: 2px;
          }
        }
      }
    }
  }
}
